#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#
mainmenu "Linux/$ARCH $KERNELVERSION Kernel Configuration"

config CUSTOM_VERSION
	bool "Use custom kernel version"
	default n
	help
	  This option replaces the kernel version found
	  in Makefile with a custom, user chosen one.

	  If unsure, say N.

config SRCARCH
	string
	option env="SRCARCH"

config ANDROID_VERSION
	string
	option env="ANDROID_VERSION"

config ANDROID_MAJOR_VERSION
	string
	option env="ANDROID_MAJOR_VERSION"

source "arch/$SRCARCH/Kconfig"
